<div class="task task_{{id}}">
    <h3 class="task__titile">{{title}}</h3>
    <p class="task__description">{{description}}</p>
    {{> includes/code/code code=code}}
    {{> button/button text="Выполнить" id=id}}
</div>