.header {
  background-color: $color-blue;
  font-family: $font-default;
  position: relative;
  z-index: 10;

  &__content {
    box-sizing: border-box;
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
  }
  &__logo {
    color: $color-white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
  }
}